@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.box {
    /* display: inline-flex; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-image: linear-gradient(rgb(49, 139, 241), rgb(203, 220, 240));
    border: 6px outset #EDEFEF;
    -webkit-box-shadow: 5px 5px 13px 7px rgba(200,200,200,0.86); 
    box-shadow: 5px 5px 13px 7px rgba(200,200,200,0.86);
    width: 20%;
}

.name {
    display: flex;
    justify-content: center;
    padding: 20px;
    /* font-size: 17px; */
    letter-spacing: 2px;
    color: #ffffff;
    background-color: rgba(43, 43, 43, 0.671);
    font-weight: 700;
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    text-decoration: none solid rgb(68, 68, 68);
    text-transform: uppercase;
}


.miniBox {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.082);
    font-family: "Palatino Linotype", "Book Antiqua", serif;
    /* font-size: 10px; */
    letter-spacing: 2px; 
    word-spacing: 2px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    margin: 10px 10px;
}

.button {
    /* display: inline-block;
    font-weight: 250;
    text-decoration: none;
    padding: 1px;
    font-size: 15px;
    /* border-radius: 50%; */
    /* background-color: transparent; */ 
    
    margin: 5px 0px 8px;
    display: inline-block; 
    align-self: flex-end;
    width: 25px;
    text-align: center;
    color: #ffffff9c;
    font-size: 13px; 
    line-height: 0px; 
    padding: 6px; 
    border-radius: 10px; 
    background-color:transparent;
    border: 2px solid transparent; 
    cursor: pointer;
}


.button:hover {
        background-color: rgba(255, 255, 255, 0.164);
        color: rgba(0, 0, 0, 0.527);
        border-color: transparent;
}